.Interests {
    display: grid;
    grid-template-columns: repeat(1, 13rem);
    grid-auto-flow: row;
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.Interest {
    width: 13rem;
    height: 3rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border: 0.125rem solid var(--primary-color);
    border-radius: var(--border-radius);
    background: var(--card-background-color);
}

.Interests button {
    max-width: 12.5rem;
}

.Interest .Icon {
    margin-right: 0.5rem;
}

@media (min-width: 600px) {
    .Interests {
        grid-template-columns: repeat(2, 12.5rem);
    }
    .Interest {
        width: 12.5rem;
    }
    .Interests button {
        max-width: 12.5rem;
    }
}

@media (min-width: 600px) {
    .Interests {
        grid-template-columns: repeat(4, 13rem);
    }
}
